/* latin */
.cmd-video-btn{
    margin-right:5px;
    margin-bottom:5px;
}

.progressBar{
    position: relative;
    width: 100%;
    height: 10px;
}
.timeBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

.controls{
    margin-top:5px;
}

.add-annotation, th{
    cursor: pointer;
    cursor: hand;
}

.add-annotation:hover, th:hover{
    font-weight: bold;
    font-style: italic;
}

.annotations-list-in-dialog{
    font-size:12px;
}