<!-- extend from base layout -->
{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% block content %}

<div class="container-fluid" id="main-container" page-name="annotations">

    <table class="table table-condensed table-striped tablesorter">
        <thead>
        <tr>
            <th></th>
            <th>WID</th>
            <th>VWID</th>
            <th>Video file</th>
            <th>Annotations</th>
            <th>Device</th>
        </tr>
        </thead>
        <tbody>
        {% for window in windows %}
        <tr>
            <td>
                <a class="btn btn-info btn-sm" data-toggle="tooltip" title="Play this video" href="/playvideo?video_id={{window.video_window.video_id}}&onstartplaywid={{window.id}}">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            <td>{{window.id}}</td>
            <td>{{window.video_window.id}}</td>
            <td>{{window.video_device.video.s3_key}}</td>
            <td>{{window.get_annotations_values()}}</td>
            <td>{{window.video_device.device_id}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
