<html>
<head>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablesorter.theme.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video_controls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commands.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>

    <title>Kinetic Video</title>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">Kinetic Video</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li id="nav-index"><a href="/index">Home</a></li>
                <li id="nav-registervideo"><a href="/registervideo">Register a new video</a></li>
                <li id="nav-loadvideo"><a href="/loadvideo">Load a video</a></li>
                <li id="nav-annotations"><a href="/annotations">Annotated windows</a></li>
                <!--<li id="nav-loadredshift"><a href="/loadredshift">Load annotations to RedShift</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="list-group">
        {% for category, message in messages %}
        <li class="list-group-item list-group-item-{{ category }}">{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>

{% block content %}{% endblock %}

</body>
</html>
