
{% extends "base.html" %}
{% block content %}

<div class="container" id="main-container" page-name="index">

    <div class="row well">
        <div class="col-md-12">

            <p>What's up? Please check the nav bar!</p>

        </div>
    </div>

</div>


{% endblock %}k %}
