<!-- extend from base layout -->
{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% block content %}

<div class="container-fluid" id="main-container" page-name="loadvideo">

    <table class="table table-condensed table-striped tablesorter">
        <thead>
        <tr>
            <th></th>
            <th>Location</th>
            <th>Day</th>
            <th>Video file</th>
            <th>Times</th>
            <th>Device(s)</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos_from_s3 %}
        <tr>
            <td>
                {% if video.has_been_sync() %}
                <a class="btn btn-info btn-sm" data-toggle="tooltip" title="Play this video" href="/playvideo?video_id={{video.id}}">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                {% else %}
                <a class="btn btn-warning btn-sm" data-toggle="tooltip" title="Synchronize this video" href="/playvideo?video_id={{video.id}}">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
                {% endif %}
            </td>
            <td>{{video.get_location()}}</td>
            <td>{{video.get_day()}}</td>
            <td>{{video.get_video_file()}}</td>
            <td>{{video.get_times()}}</td>
            <td>{{video.get_devices_ids() | join(',') }}</td>
            <td>{{video.get_description()}}</td>
            <td>
                <a class="btn btn-info btn-sm" data-toggle="tooltip" title="Download raw data" href="/downloadfromredshift/{{video.id}}">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
