<!-- extend from base layout -->
{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% block content %}



<div class="container-fluid" id="main-container" page-name="video">
    <div class="row">
        <div class="col-md-12">


        </div>

    </div>
</div>
{% endblock %}
