<!-- extend from base layout -->
{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% block content %}

<meta id="my-data" video-id={{video.id}} video-devices-ids="{{video.devices_ids}}" onstartplaywid={{onstartplaywid}} playstarttime={{playstarttime}} playendtime={{playendtime}} previous-annotations-values="{{previous_annotations_values}}" />

<div class="container-fluid" id="main-container" page-name="video">
    <div class="row">

        <div class="col-sm-5 well" style="position:fixed">

            <video id="s3Video" width="100%">
                <source src="{{s3_video_url}}" type="video/mp4" />
                <p>Your browser does not support the video tag. Please try <a href="www.google.com/chrome/">Google Chrome</a>.</p>
            </video>

            <div class="controls">
                <button type="button" class="btn btn-info cmd-video" data-toggle="tooltip" id="control-play" title="Play / Pause">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-info cmd-video" data-toggle="tooltip" id="control-volume" title="Volume On / Off">
                    <span class="glyphicon glyphicon-volume-up"></span>
                </button>
                <button type="button" class="btn btn-info cmd-video" data-toggle="tooltip" id="replay-window" title="Replay last window">
                    <span class="glyphicon glyphicon-repeat"></span><span id="repeat-video-window-id"></span>
                </button>

                <span class="current"></span> / <span class="duration"></span> - <span id="window-start-time-info"></span>
            </div>

            <div class="controls progressBar progress">
                <div class="timeBar progress-bar"></div>
            </div>

            {% if video.has_been_sync() %}

            <div class="controls window-controls">
                {% for device_id in video.get_devices_ids() %}
                <button type="button" class="btn annotation-device-id btn-sm" device-id="{{device_id}}" device-selected=0>
                    Device {{device_id}}
                </button>
                {% endfor %}

                <button type="button" class="btn btn-info btn-sm" id="start-window">
                    Start window
                </button>
                <button type="button" class="btn btn-danger btn-sm" id="stop-window">
                    Stop window
                </button>
            </div>

            {% else %}
            <div class="form-group">
                <label for="true-time">What's the true time?</label>
                <input type="text" class="form-control" id="true-time" placeholder="Format YYYY-MM-DD HH:MM:SS" />
            </div>
            <button type="button" class="btn btn-info" id="sync-video" video-id="{{video.id}}">Synchronize the video</button>
            {% endif %}

        </div>

        <div class="col-sm-7 col-sm-offset-5">

            <h2>Annotations</h2>

            <table class="table table-condensed table-striped tablesorter" id="annotations-table">
                <thead>
                <tr>
                    <th></th>
                    <th title="Sort by window id">ID</th>
                    <th title="Sort by video window">WID</th>
                    <th title="Sort by video key">Video S3 Key</th>
                    <th title="Sort by time">Start/End</th>
                    <th title="Sort by detection type">Detection</th>
                    <th title="Sort by annotations">Annotations</th>
                    <th title="Sort by device ID">Device</th>
                    <th title="Delete"></th>
                </tr>
                </thead>
                <tbody>
                {% for annotation in annotations %}
                <tr id="row-window-{{annotation.window_id}}">
                    <td>
                        <button type="button" class="btn btn-default btn-sm annotation-play"  data-toggle="tooltip" title="Play this window"
                                play-beg="{{annotation.start_t}}"
                                play-end="{{annotation.end_t}}"
                                window-id="{{annotation.window_id}}"
                                video-window-id="{{annotation.video_window_id}}"
                                id="play-window-id-{{annotation.window_id}}">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                    <td>{{annotation.window_id}}</td>
                    <td>{{annotation.video_window_id}}</td>
                    <td>{{annotation.video_s3_key}}</td>
                    <td>{{annotation.start_t}} <span class="glyphicon glyphicon-arrow-right"></span> {{annotation.end_t}}</td>
                    <td>{{annotation.d_type}}</td>
                    <td class="add-annotation" id="annotations-window-{{annotation.window_id}}" title="Annotate this window"
                        window-id="{{annotation.window_id}}">{{annotation.annotations}}</td>
                    <td>{{annotation.device_id}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm delete-window" title="Delete this window"
                                window-id="{{annotation.window_id}}">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>


    </div>

    <div class="row">

        <div class="col-md-12 ">



        </div>

    </div>

</div>
{% endblock %}
