<!-- extend from base layout -->
{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% block content %}

<div class="container" id="main-container" page-name="registervideo">
    <div class="row">
        <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4 text-center">
            <h1>Register a video</h1>
        </div>
    </div>
    <div class="row">
        <div class="md-col-12">
            {% call macros.render_form(form, action_text='Upload video to S3 and register it') %}
            {{ macros.render_field(form.location, label_visible=false, placeholder='Location') }}
            {{ macros.render_field(form.day, label_visible=false, placeholder='Day') }}
            {{ macros.render_field(form.absolute_filepath, label_visible=false, placeholder='Local absolute filepath') }}
            {{ macros.render_field(form.devices_ids, label_visible=false, placeholder='[Comma separated] Devices seen on video') }}
            {{ macros.render_field(form.description, label_visible=false, placeholder='Description') }}
            {% endcall %}
        </div>
    </div>
</div>
{% endblock %}
